Package: com.syczsa.trackhook
Name: TrackHook
Version: 1.0.0
Section: Tweaks
Priority: optional
Architecture: $(ARCHS)
Depends: mobilesubstrate
Maintainer: syczsa
Description: 递归几何定位追踪插件
Author: syczsa
Homepage: https://github.com/syczsa-source/TrackHook
