Package: com.syczsa.trackhook
Name: TrackHook
Version: 1.0.0
Architecture: arm64
Depends: mobilesubstrate
Section: Tweaks
Priority: optional
Maintainer: syczsa-source
Author: syczsa-source
Description: Blued用户递归定位插件
