<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Filter</key>
    <dict>
        <key>Bundles</key>
        <array>
            <!-- Blued 极速版包名，与你截图元数据一致 -->
            <string>com.danlan.xiaolan</string>
        </array>
    </dict>
</dict>
</plist>
